.banner {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
    overflow: hidden;
}

.mainHeading {
    font-size: 5vw;
    color: tomato;
}

.subHeading {
    margin: 1rem;
    font-size: 2vw;
}

.separator {
    height: 4px;
    width: 0px;
    /* opacity: 0; */
    margin: 0 auto;
    background-color: skyblue;
    transition: width 1.5s;
}

.growSeparator {
    width: 150px;
}
@media (max-width: 800px) {
    .mainHeading {
        font-size: 40px;
    }
}

@media (max-width: 1000px) {
    .subHeading {
        font-size: 20px;
    }
}