.banner {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.separator {
    height: 2px;
    width: 100px;
    margin: 0 auto;
    background-color: black;
}