/***** Border-box *****/
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/***** Global Styles *****/

body {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  color: white;
  background: darkslategray;
}

section {
  border-bottom: 4px solid black;
  padding: 30px 0;
}

h1, h2 {
  font-weight: bold;
  text-align: center;
}

h1 {
    margin: 1rem;
}

h2 {
    font-size: 3vw;
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
}

@media (min-width: 768px) {
  body {
    font-size: 2vw;
  }
}

@media (min-width: 900px) {
  body {
    font-size: 18px;
  }
}


@media (max-width: 1200px) {  
    h2 {
      font-size: 36px;
    }
}

@media (min-width: 1600px) {  
  h2 {
    font-size: 48px;
  }
}