/***** Border-box *****/
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/***** Global Styles *****/

body {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  color: white;
  background: darkslategray;
}

section {
  border-bottom: 4px solid black;
  padding: 50px 0;
}

h1, h2 {
  font-weight: bold;
  text-align: center;
  margin: 1rem;
}

h2 {
    font-size: 3vw;
}

h3 {
  margin: 1rem;
  font-size: 30px;
}

button {
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
}

@media (min-width: 768px) {
  body {
    font-size: 2vw;
  }

  h3 {
      font-size: 4vw;
  }

}

@media (min-width: 1000px) {
  body {
    font-size: 20px;
  }
}

@media (min-width: 1200px) {
  h3 {
    font-size: 48px;
  }
}


@media (max-width: 1200px) {  
    h2 {
      font-size: 36px;
    }
}