.project {
    margin-bottom: 70px;
}

.title {
    text-align: center;
    color: tomato;
    margin-bottom: 30px
}

.btnCont {
    margin: 30px auto;
    text-align: center;
}

.btn {
    display: inline-block;
    margin: 0 15px;
    background-color: black;
    color: white;
    cursor: pointer;
}

.btn:hover {
    background-color: white;
    color: black;
}

.para {
    width: 80%;
    max-width: 600px;
    margin: 20px auto;
}

.imgContainer {
    width: 80%;
    margin: 0 auto; 
    text-align: center;
}

.screenshot {
    width: 100%;
    max-width: 250px;
    border-radius: 3%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

.flexRow {
    max-width: 900px;
    margin: 0 auto;
}

.flexCol {
    display: flex;
    flex-direction: column;
}

.flexLeft {
    order: 0;
}

.flexRight {
    order: 1;
}

@media (min-width: 768px) {
    .flexRow {
        display: flex;
    }

    .screenshot {
        width: 80%;
        max-width: 800px;
    }

    .para {
        margin: 0 auto 0 0;
        width: 100%;
    }
}