.project {
    margin: 0 10px 20px;
    border-radius: 20px;
    background: rgba(0,0,0,0.4);
    padding: 40px 0;
}

.title {
    text-align: center;
    color: tomato;
    margin-bottom: 30px
}

.btnCont {
    text-align: center;
    margin: 15px auto;
}

.btn {
    display: inline-block;
    margin: 0 5px;
    padding: 10px 10px;
    background-color: tomato;
    color: white;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
}

.btn:hover {
    background-color: white;
    color: tomato;
}

.para {
    width: 100%;
    max-width: 600px;
    margin: 10px auto;
    padding: 10px 10px;
}

.imgContainer {
    width: 80%;
    margin: 0 auto; 
    text-align: center;
}

.screenshot {
    width: 100%;
    max-width: 250px;
    border-radius: 3%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

.flexRow {
    max-width: 1200px;
    margin: 0 auto;
}

.flexCol {
    display: flex;
    flex-direction: column;
    width: 80%;
    max-width: 450px;
    margin: 0 auto;
}

.flexLeft {
    order: 0;
}

.flexRight {
    order: 1;
}

@media (min-width: 768px) {   
    .flexRow {
        display: flex;
        padding: 0 50px;
    }

    .flexCol {
        max-width: 700px;
    }

    .screenshot {
        width: 80%;
        max-width: 800px;
    }

    .para {
        margin: 0 auto 0 0;
        width: 100%;
    }

    .btnCont {
        margin: 30px auto;
    }

    .btn {
        margin: 0 15px;
    }

    .project {
        margin: 0 30px 50px;
    }
}